.container {
    padding: 20px;
}

.icon-container {
    padding-left: 80%;
}
.icon-container2 {
    padding-left: 5%;
}

.container {
    padding: 20px;
  }
  
  .button-text {
    padding-right: 30ch;
  }
  .table {
    width: 100%;
  }
  