<!-- <mat-selection-list #shoes fxLayout="column" class="container">
    <mat-list-option *ngFor="let shoe of typesOfShoes"  >
     <p> {{shoe}} </p>
      <mat-divider></mat-divider>
    </mat-list-option>
</mat-selection-list> -->

<!-- <mat-list>
    <mat-list-item>Item 1</mat-list-item>
    <mat-icon matListIcon class="icon-container">delete</mat-icon>
    <mat-icon matListIcon class="icon-container2">edit</mat-icon>
    <mat-divider></mat-divider>
    <mat-list-item>Item 2</mat-list-item>
    <mat-icon matListIcon class="icon-container">delete</mat-icon>
    <mat-icon matListIcon class="icon-container2">edit</mat-icon>
    <mat-divider></mat-divider>
    <mat-list-item>Item 3</mat-list-item>
    <mat-icon matListIcon class="icon-container">delete</mat-icon>
    <mat-icon matListIcon class="icon-container2">edit</mat-icon>
    <mat-divider></mat-divider>
  </mat-list> -->

<mat-accordion>
  <mat-expansion-panel *ngFor="let items of userInfo">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{items.id}}
      </mat-panel-title>
      <mat-panel-description>
        {{items.name}}
      </mat-panel-description>
      <mat-panel-description>
        {{items.mail}}
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div fxLayout="row"  fxLayoutAlign="space-between center">
     <button mat-button (click)='asignProjects(items)'> <p>
        Asign Project to {{items.name}}
      </p></button>
      <button mat-icon-button (click)='edit(items)'>
        <mat-icon>edit</mat-icon>
      </button>
      <button mat-icon-button (click)='delete(items)'>
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </mat-expansion-panel>

</mat-accordion>