<div class="container">
    <mat-card class="example-card" fxFlex="35%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
                <h2>Wellcome to IndusNet</h2>
            </mat-card-title>
        </mat-card-header>
        <div>
            <form [formGroup]='loginForm'>
                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="Enter your email id" formControlName="email"
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                        [(ngModel)]='user.email'  required>
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your Password" [type]="!hide ? 'password' : 'text'" formControlName="password"
                        [(ngModel)]='user.password' required>
                        <mat-icon matSuffix (click)="hide=!hide">{{ !hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <button mat-raised-button color="primary" (click)='navigate()'>signin</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>

