<div class="container">
    <mat-card class="example-card" fxFlex="35%">
        <mat-card-header fxLayoutAlign="center">
            <mat-card-title>
                <h2>Wellcome to IndusNet</h2>
            </mat-card-title>
        </mat-card-header>
        <div>
            <form [formGroup]='passwordForm'>
                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline" class="field-size">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your password" formControlName="password"
                        [type]="'password'"
                        [(ngModel)]='passwordModel.password'  required>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Conform Password</mat-label>
                        <input matInput placeholder="Enter your Password" [type]="!hide ? 'password' : 'text'" formControlName="conformPassword"
                        [(ngModel)]='passwordModel.conformPassword' required>
                        <mat-icon matSuffix (click)="hide=!hide">{{ !hide ? 'visibility_off' : 'visibility'}}
                        </mat-icon>
                    </mat-form-field>
                </div>
                <div fxLayoutAlign="center" fxLayoutGap="10%">
                    <button mat-raised-button color="primary" (click)='reset()'>reset</button>
                    <button mat-raised-button color="primary" (click)='skip()'>skip</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>