<div class="container">
    <mat-card class="example-card" fxFlex="35%">
        <div>
            <form [formGroup]='addForm'>
                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Name</mat-label>
                        <input matInput placeholder="Enter your FullName" formControlName='name'
                            [(ngModel)]='member.name' required>
                        <mat-icon matSuffix>account_circle</mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Number</mat-label>
                        <input matInput placeholder="Enter your Mobile Number" formControlName='mobile'
                        pattern="[0-9]{10}"   
                        [(ngModel)]='member.mobileNo' required>
                        <mat-icon matSuffix>stay_primary_portrait</mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline" class="field-size">
                        <mat-label>Designation</mat-label>
                        <select matNativeControl formControlName='desg' [(ngModel)]='member.desg' required>
                            <option value="">select</option>
                            <option value="Project Manager">Project Manager</option>
                            <option value="Team Leader">Team Leader</option>
                            <option value="Developer">Developer</option>
                            <option value="Designer">Designer</option>
                        </select>

                    </mat-form-field>
                </div>


                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>E-mail</mat-label>
                        <input matInput placeholder="Enter your email" formControlName='email'
                        pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$"
                            [(ngModel)]='member.mail' required>
                        <mat-icon matSuffix>mail</mat-icon>
                    </mat-form-field>
                </div>

                <div fxLayoutAlign="center">
                    <mat-form-field appearance="outline">
                        <mat-label>Password</mat-label>
                        <input matInput placeholder="Enter your Password" [type]="!hide ? 'password' : 'text'"
                            formControlName='password' 
                            [(ngModel)]='member.password' required>
                        <mat-icon matSuffix (click)="hide=!hide">{{ !hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </mat-form-field>
                </div>


                <div fxLayoutAlign="center">
                    <button mat-raised-button color="primary" (click)='register()'>register</button>
                </div>
            </form>
        </div>
    </mat-card>
</div>