.container{
    display: flex;
    justify-content: center;
    margin-top: 2%;
}

.example-card {
    width: 30%;
}

.field-size {
    justify-content: center;
    height: 20px;
    width: 225px;
    padding-bottom: 50px; 
}