<mat-list #lists fxLayout="column" class="container">
    <mat-list-item *ngFor="let list of projectList">
        <div fxLayout="row">
           <p matLine class="button-text"> {{list.pid}} </p>
            <p matLine class="button-add"> {{list.name}} </p>
            <mat-dialog-actions>
                <button mat-raised-button color="primary" (click)='addProjects(list)'>Add</button>
            </mat-dialog-actions>
            <mat-divider></mat-divider>
        </div>
    </mat-list-item>
</mat-list>

<mat-dialog-actions>
    <button mat-raised-button mat-dialog-close>goBack</button>
</mat-dialog-actions>
<!-- <mat-selection-list  fxLayout="column" class="container">
    <mat-list-option> hello</mat-list-option>
</mat-selection-list> -->

<!-- <p>
    Options selected: {{lists.selectedOptions.selected.length}}
</p> -->