<mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <img class="image-size" src="../../../assets/images/indus.png" />
    <button mat-icon-button (click)="logout()">
        <mat-icon class="icon-flex">power_settings_new</mat-icon>
    </button>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #snav mode='side'>
        <mat-nav-list fxLayout="column" fxLayoutGap="20px">
            <a mat-list-item [routerLink]="['list']">View Member List</a>
            <a mat-list-item  [routerLink]="['viewProject']"> View Project and Task</a>
            <a mat-list-item  [routerLink]="['addTask']">Add Task In Project</a>
        </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>