<div class="container">
    <div>
        <form [formGroup]='addForm'>
            <div fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Name</mat-label>
                    <input matInput placeholder="Enter task FullName" value={{data.element.name}} formControlName='name' [(ngModel)]='taskList.name'
                        required>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center">
                <mat-form-field appearance="outline">
                    <mat-label>Description</mat-label>
                    <input matInput placeholder="Enter your task description" value={{data.element.description}} formControlName='description' 
                        [(ngModel)]='taskList.description' required>
                </mat-form-field>
            </div>

  

            <div fxLayoutAlign="center" fxLayoutGap='10%'>
                <!-- <button mat-raised-button color="primary" (click)='update()'>save</button> -->
                <mat-dialog-actions>
                    <button mat-raised-button  mat-dialog-close  color="primary" (click)='updateTask()'>save</button>
                </mat-dialog-actions>
                <mat-dialog-actions>
                    <button mat-raised-button mat-dialog-close>goBack</button>
                </mat-dialog-actions>
            </div>
        </form>
    </div>
</div>